/* declare variables */
:root {
    --papaya: #FF6200;
}

/* general */
* {
    font-family: Arial, Helvetica, sans-serif;
}

.valueProp {
    margin-top: 15px;
    margin-bottom: 15px;
}

.sideAccent {
    background: var(--papaya);
    width: 1px;
    padding: 1px;
}

.col-8 img {
    float: left;
    margin: 0;
    margin-right: 1%;
}

img {
    display: flex;
    width: 20%;
    height: auto;
    margin: 1%;
}

/* Text */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Anton', sans-serif;
}

p {
    font-family: 'Jura', sans-serif;
    margin: 5px;
}

body {
    width: 100%;
}

/* format/style work items */
.app3,
.app4,
.app5 {
    background-image: url(../images/coming-soon.png);
}

.contactdetails {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Navigation */
.customNav {
    position: fixed;
    width: 100%;
    background: url("../images/transparency.png");
    background-color: transparent !important;
    background-size: cover;
    z-index: 10;
}

.customNav a {
    color: var(--papaya);
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.navbar-brand {
    padding-right: 15px;
    width: 65px;
    font-size: larger;
    font-weight: bold;
}

.nav-item {
    margin: 0px 15px;
}

/* Navigation dropdown menu */
.dropdown-menu {
    background: url("../images/transparency.png");
    background-color: transparent !important;
    background-size: cover;
    left: -97px;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background: black;
}

/* Jumbotron  */
.jumboBackground {
    background-image: url(../images/horsedogcar.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Jumbotron copy */
.jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: var(--papaya);
    text-align: center;
}